.button {
    display: block;
    padding: 15px;
    border-radius: 3px;
    font-size: 1.1rem;
    font-weight: bold;
    margin-top: 1rem;
    border: none;
    background-color: #61B37B;
    color: #fff;
    text-decoration: underline white;
    cursor: pointer;
}