.Page404Container {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    background-color: white;
    margin: auto;

    & .ErrorNumber {
        font-size: 8rem;
        font-weight: 700;
    }

    & .ErrorMessage {
        font-size: 2rem;
        font-weight: 400;
        margin-bottom: 2rem;
    }
}
